/* Style the list */
ul.breadcrumb {
  padding: 7px 10px 7px 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin: 6px;
  margin-bottom: 20px;
  /* margin-top: 20px; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* gap: 40px; */
  justify-content: start;
  align-items: center;
}


/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  line-height: 1.0;
  margin-right: 46px;
  position: relative;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #303f9f;
  text-decoration: none;
  /* position: relative; */
  /* padding: 0px 5px 0px 50px; */
  /* padding: 10px 0 10px 65px; */
  /* z-index: 3; */
}


/* Add a color on mouse-over, if the <a> has href defined */
ul.breadcrumb li a[href]:hover {
  text-decoration: underline;
}

.breadcrumb li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #f5f5f5;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  /* left: 100%; */
  z-index: 2;
  right: 0;
  z-index: 2;
  transform: translate(30px, 0);
}

.breadcrumb li a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #d6d6d6;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 2px;
  /* left: 100%; */
  right: 0;
  z-index: 1;
  transform: translate(32px, 0);
}

/* .breadcrumb2 li:first-child a {
  margin-left: 8px;
} */

.breadcrumb li:last-child a {
  background: transparent !important;
  color: #303f9f;
  /* pointer-events: none;
  cursor: default; */
}
.breadcrumb li:last-child a::after,
.breadcrumb li:last-child a::before {
  border: 0;
  display: none;
}

