/* Style the list */
ul.mc-breadcrumb {
  padding: 7px 10px 7px 20px;
  list-style: none;
  /* background-color: #f5f5f5; */
  background-color: #fafafa;
  /* border: 1px solid #d6d6d6; */
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* gap: 40px; */
  justify-content: start;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
}

/* Display list items side by side */
ul.mc-breadcrumb li {
  display: inline;
  line-height: 1;
  margin-right: 46px;
  position: relative;
}

/* Add a color to all links inside the list */
ul.mc-breadcrumb li a {
  color: rgb(62, 112, 187);
  text-decoration: none;
  /* position: relative; */
  /* padding: 0px 5px 0px 50px; */
  /* padding: 10px 0 10px 65px; */
  /* z-index: 3; */
}

/* Add a color on mouse-over, if the <a> has href defined */
ul.mc-breadcrumb li a[href]:hover {
  text-decoration: underline;
}

/* prevent _reboot.scss from bootstrap to override this */
ul.mc-breadcrumb li a:not([href]):hover {
  color: rgb(62, 112, 187);
}

.mc-breadcrumb li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #f5f5f5;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  /* left: 100%; */
  z-index: 2;
  right: 0;
  z-index: 2;
  transform: translate(30px, 0);
}

.mc-breadcrumb li a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #d6d6d6;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 2px;
  /* left: 100%; */
  right: 0;
  z-index: 1;
  transform: translate(32px, 0);
}

.mc-breadcrumb li:last-child a {
  background: transparent !important;
  color: rgb(62, 112, 187);
  /* pointer-events: none;
  cursor: default; */
}
.mc-breadcrumb li:last-child a::after,
.mc-breadcrumb li:last-child a::before {
  border: 0;
  display: none;
}
